/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.profile-badge{
  margin-bottom: 2.2rem;
    box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
    -webkit-transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
    transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border-radius: .267rem;
}
.profile-badge img{
    height: 150px;
    width: 100%;
}
.profile-pic h5{
	color: #fff;
}
svg{
    display: none!important;
}
.user-detail{
    background-color: #fff;
    position: relative;
    padding:65px 0px 10px 0px;
    color:#8B8B89;
}
.user-detail h3{
    margin: 0px;
    margin:0px 0px 5px 0px;
    color: #000;
}
.user-detail p{
    font-size:14px;
}
.user-detail .btn{
    margin-bottom:10px;
    background-color: #fff;
    border:1px solid #DEDEDE;
    border-radius: 0px;
    color:black;
}
.user-detail .btn i{
    color:#D35B4D;
    padding-right:18px;
}
.profile-pic{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    text-align: center;
    z-index: 100;
}
.profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
}
.hover-detail{
    background-color: #fff;
    border:1px solid #7C7C7C;
    position: absolute;
    width: 200px;
    box-shadow: 0px 0px 6px 0px #7C7C7C; 
    display:none;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
}
.hover-detail:hover,
.user-detail .btn:hover ~ .hover-detail{
    display: block;
}
.Following label{
    text-align: left;
    width: 80%;
}
.Following label{
    padding-bottom: 20px;
    border-bottom:1px solid #c2c2c2;
}
.Following label span{
    float:right;
}
.hover-detail{
    padding:5px;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: 350px;
    width: 100%;
}
    .nav-pills .nav-link, .nav-tabs .nav-link {
    background-color: #fff!important;
    color: #000;
    font-size: 13px;
}
.nav.nav-pills .nav-item .nav-link.active, .nav.nav-tabs .nav-item .nav-link.active {
    box-shadow: 0 2px 6px 0 rgb(0 207 221 / 60%);
    border: 1px solid #00CFDD;
    
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-green{
    background-color: #00a65a !important;
}
.bg-blue{
   background-color: #2c6de9 !important;
}
.bg-red{
   background-color: #ff5b5c!important;
}


.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 130px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    padding-top: 20px;
}
.uni{
  color: #fff;
}
.dash{
    margin-top: 2rem!important;
}